#  Local .terraform directories
infra/terraform/.terraform/*

# .tfstate files
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*

# .tfvars files
infra/terraform/*.tfvars

# .tfplan files
infra/terraform/*.tfplan

# .pem files
infra/terraform/*.pem

infra/terraform/backend_locale.tf

infra/terraform/vpc.tf
